<template>
    <bootstrap-modal ref="modal" :size="'large'" class="asignar-modal">
        <div slot="title">
            Asignar incidencia a unidad
        </div>
        <div slot="body">
            <div class="top">
                <div class="details">

                    <div class="section-title">
                        <div class="text">
                            Detalles del incidente
                        </div>
                    </div>
                    <div class="content">
                        <div class="flex-row">
                            <div class="item" >
                                <div class="title text-muted">
                                    Identificador
                                </div>
                                <div class="content">{{incidente.id}}</div>
                            </div>

                            <div class="item" >
                                <div class="title text-muted">
                                    Tipo
                                </div>
                                <div class="content">{{incidente.tipo.nombre}}</div>
                            </div>


                            <div class="item" >
                                <div class="title text-muted">
                                    Prioridad
                                </div>
                                <div class="content">{{incidente.prioridad.nombre}}</div>
                            </div>

                            <div class="item" >
                                <div class="title text-muted">
                                    Involucrados
                                </div>
                                <div class="content">{{incidente.personas_involucradas}}</div>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="item" >
                                <div class="title text-muted">
                                    Detalle del incidente
                                </div>
                                <div class="content">{{incidente.detalle_incidente}}</div>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="item" >
                                <div class="title text-muted">
                                    Municipio
                                </div>
                                <div class="content">{{incidente.sector.municipio.nombre}}</div>
                            </div>
                            <div class="item" >
                                <div class="title text-muted">
                                    Sector
                                </div>
                                <div class="content">{{incidente.sector.nombre}}</div>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="item" >
                                <div class="title text-muted">
                                    Direccion
                                </div>
                                <div class="content">{{incidente.ubicacion_texto}}</div>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="item" >
                                <div class="title text-muted">
                                    Detalle de ubicacion
                                </div>
                                <div class="content">{{incidente.detalle_ubicacion}}</div>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="item" >
                                <div class="title text-muted">
                                    Nombre de civil
                                </div>
                                <div class="content">{{incidente.nombre_civil}}</div>
                            </div>
                            <div class="item" >
                                <div class="title text-muted">
                                    Info de contacto de civil
                                </div>
                                <div class="content">{{incidente.telefono_civil}}</div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="top-right">
                    <div class="timer">
                        <div class="time">{{tiempoTranscurrido}}</div>
                        <div class="subtext text-muted">Tiempo transcurrido</div>
                    </div>
                    <div class="location">
                        <gmap-map
                                :ref="'map'"
                                :center="getLatLngFromPoint(incidente.ubicacion)"
                                :zoom="14"
                                :options="{
                                  mapTypeControl: false,
                                  streetViewControl: false,
                                }"
                                :style="{width: '100%', height: '235px'}">
                            <google-marker
                                    :position="getLatLngFromPoint(incidente.ubicacion)"
                                    :icon="incidenteIcon"
                                    :animation="1"
                            >
                            </google-marker>
                            <google-marker v-if="unidadesFiltered && unidadesFiltered.length > 0"
                                           v-for="u in unidadesFiltered" :key="'u'+u.id"
                                           :position="getLatLngFromPoint(u.localizaciones.last() ? u.localizaciones.last().ubicacion : null)"
                                           :clickable="true"
                                           :label="{
                              text: 'U'+u.id,
                              color: 'white',
                              fontSize: '11px',
                              fontWeight: '500'
                            }"
                                           :icon="Object.assign({},unidadIcon)"
                                           :ref="'unidad-'+u.id"
                                           @click="handleSelectUnidad(u)"
                            >
                            </google-marker>
                        </gmap-map>

                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="section-title">
                    <div class="text">
                        Asignar unidad al incidente
                    </div>
                    <div class="widgets">
                        <input type="text"
                               class="form-control filtrar"
                               @input="filterInput"
                               placeholder="Filtrar unidades disponibles">
                    </div>

                </div>

                <div class="carousel">
                    <div v-show="!unidadesFiltered" class="loading">
                        <scale-loader :loading="!unidadesFiltered"
                                      :color="'#1976D2'"
                        ></scale-loader>
                    </div>
                    <carousel v-if="unidadesFiltered"
                              paginationActiveColor="#1999FF"
                              paginationColor="#1976D2"
                              :paginationSize="10"
                              :scrollPerPage="true"
                              :perPage="3"
                              :navigationEnabled="true"
                    >
                        <slide v-for="u in unidadesFiltered" :key="u.id">
                            <unidad-card
                                    @click="handleSelectUnidad(u)"
                                    :class="{'selected': selectedUnidad && selectedUnidad.id === u.id}"
                                    :expandable="false"
                                    :clickable="false"
                                    :width="235"
                                    :unidad="u">
                            </unidad-card>
                        </slide>
                    </carousel>
                </div>

                <div class="notice">
                    <div class="alert alert-primary no-border">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>

                        Seleccione una unidad haciendo  <span class="text-semibold">click</span> sobre la misma
                        o filtrando las unidades disponibles para asignar.
                        <br>
                        En este listado solo aparecen unidades capaces de atender incidentes.
                    </div>

                </div>
                <div class="selectedunit">
                    <div class="box">
                        <div class="content">
                            <template v-if="selectedUnidad">
                                <template v-if="selectedUnidad.tiempo">
                                    {{formatTime(selectedUnidad.tiempo)}}
                                </template>
                                <template v-else>
                                    No disponible
                                </template>
                            </template>
                            <template v-else>
                                N/A
                            </template>

                        </div>
                        <div class="title text-muted">
                            Tiempo estimado hasta incidente
                        </div>
                    </div>
                    <div class="box">
                        <div class="content">
                            <template v-if="selectedUnidad">
                                U{{selectedUnidad.id}}
                            </template>
                            <template v-else>
                                Ninguna
                            </template>
                        </div>
                        <div class="title text-muted">
                            Unidad seleccionada
                        </div>
                    </div>
                    <div class="box">
                        <div class="content">
                            <template v-if="selectedUnidad">
                                {{formatDistance(selectedUnidad.distancia)}}
                            </template>
                            <template v-else>
                                N/A
                            </template>
                        </div>
                        <div class="title text-muted">
                            Distancia hasta incidente
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer">
            <button @click="handleAsignarUnidad" :disabled="!selectedUnidad" type="button" class="btn btn-primary btn-block"
                    style="background-color: #1976D2">
                <i class="icon-check position-left"></i>
                Asignar unidad
            </button>
        </div>
    </bootstrap-modal>
</template>

<script>
  import BootstrapModal from 'vue2-bootstrap-modal'
  import debounce from 'debounce'
  import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'
  import UnidadCard from './UnidadCard'
  import service from './../services/UnidadService'
  import {Marker} from 'vue2-google-maps';
  import { Carousel, Slide } from 'vue-carousel';
  import {incidenteIcon, unidadIcon} from './../marker_icon_styles'
  import {formatDistance, formatTime,getLatLngFromPoint} from './../utils/helpers'
  const unidadService = new service();
  import moment from 'moment'
  export default {
    props: {
      incidente: {
        type: Object,
        required: true
      }
    },
    components: {
      'bootstrap-modal': BootstrapModal,ScaleLoader,
      UnidadCard,
      Carousel,
      Slide,
      'google-marker': Marker,
    },

    computed : {
      unidadesFiltered  () {
        if (this.unidadesCercanas) {
          let arr = null;
          if (this.filterText !== "") {
            const search = this.filterText;
            arr = this.unidadesCercanas.filter(unidad => {
              const ssearch = search.toLowerCase()
              // noinspection EqualityComparisonWithCoercionJS
              return unidad.sector.nombre.toLowerCase().includes(ssearch) ||
                  unidad.id == ssearch ||
                  unidad.modelo.marca.nombre.toLowerCase().includes(ssearch) ||
                  unidad.oficiales.filter(o => {
                    return o.nombre.toLowerCase().includes(ssearch) ||
                        o.apellido.toLowerCase().includes(ssearch)
                  }).length > 0
            })
          } else {
            arr = this.unidadesCercanas
          }
          return arr.sort((a,b) => {
            return a.tiempo - b.tiempo
          })
        }
        return null;
      }
    },
    data : function () {
      return {
        unidadIcon,
        filterText: "",
        unidadesCercanas: null,
        selectedUnidad: null,
        incidenteIcon,
        tiempoTranscurrido: "Calculando..."
      }
    },
    watch: {
      incidente () {
        this.requestUnidades()
      }
    },
    methods: {
      handleAsignarUnidad () {
        unidadService.asignarUnidad(this.selectedUnidad.id, this.incidente.id).then(incidencia => {
          this.$toastr.s('Incidencia asignada correctamente.', 'Aviso',{});
          this.$emit('unidadAsignada',this.selectedUnidad.id, incidencia.id)
          this.saveTimer(this.selectedUnidad.id,incidencia.id)
        }).catch(e => {
          this.$toastr.e('Error al asignar unidad a incidencia', 'Error',{});
        })
        this.$refs.modal.close()
      },
      saveTimer (unidad,incidente) {
        const timersString = localStorage.getItem ("timers");
        if (timersString) {
          const timers = JSON.parse(timersString)
          timers.push({
            incidencia_id : incidente,
            unidad_id: unidad,
            time: moment().unix()
          })
          localStorage.setItem("timers", JSON.stringify(timers))
        } else {
          localStorage.setItem("timers", JSON.stringify([{
            incidencia_id : incidente,
            unidad_id: unidad,
            time: moment().unix()
          }]))
        }
      },

      formatDistance,
      formatTime,
      getLatLngFromPoint,
      panToUnidad(unidad) {
        this.pantToPoint(getLatLngFromPoint(unidad.localizaciones.last().ubicacion))
      },
      pantToPoint(point) {
        this.$refs.map.panTo(point)
      },
      handleSelectUnidad (u) {
        this.selectedUnidad = u;
        this.panToUnidad(u)
      },
      filterInput: debounce(function(e) {
        this.filterText = e.target.value
      }, 200),
      open () {
        this.$refs.modal.open()
      },
      requestUnidades () {
        console.log('request')
        this.unidadesCercanas = null;
        unidadService.fetchUnidadesParaIncidencia(this.incidente.id).then(r => {
          const arr = []
          for (let key of Object.keys(r)) {
            arr.push(r[key])
          }
          this.unidadesCercanas = arr;
        })
      }
    },
    created () {
      this.requestUnidades()
    },
    mounted () {
      const setTranscurrido = () => {
        const duration = moment.duration(moment().diff(moment(this.incidente.fecha_incidencia)));
        this.tiempoTranscurrido = moment.utc(duration.asMilliseconds()).format("HH:mm:ss");
      }
      setTranscurrido()
      setInterval(setTranscurrido, 1000);

      if (this.incidente) {
        this.$refs.modal.open()
      }
    }
  }
</script>

<style lang="scss" >
    $blue : #1976D2;
    $blue-darker: #1964b7;
    $grey : #b0b0b0;
    .asignar-modal  {
        .loading {
            display: flex;
            height: 250px;
            justify-content: center;
            align-items: center;
        }
        legend {
            margin-bottom: 10px;
        }
        .modal-body {
            .section-title {
                margin-top: 20px;
                padding-top: 10px;
                border: 0;
                margin-bottom: 10px;
                border-bottom: 1px solid #e5e5e5;
                display: flex;
                .text {
                    color: #333;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 700;
                    display: flex;
                    flex-grow: 5
                }
                .widgets {
                    display: flex;
                    flex-grow: 1;
                    position: relative;
                    .filtrar {
                        position: absolute;
                        right: 5px;
                        bottom: 7px;
                        width: 300px;
                    }
                }
            }

            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding-top:5px;
            .top {
                display: flex;
                flex-grow: 1;
                .top-right {
                    flex-basis: 390px;
                    flex-shrink: 0;
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    .timer {
                        margin-bottom:5px;
                        top:5px;
                        display: flex;
                        flex-direction: column;
                        .subtext {
                            text-align: right;
                        }
                        .time {
                            text-align: right;
                            font-size: 17px;
                            font-weight: 500;
                            color: $blue;
                        }
                    }
                }
                .details {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    flex-grow:1;
                    padding-right: 25px;





                    .content{
                        .flex-row {
                            display: flex;
                            justify-content: space-around;
                        }
                        .item {
                            display: flex;
                            flex-direction: column;
                            border-bottom: 1px dotted #d6d6d6;
                            margin-bottom: 5px;
                            margin-top: 2px;
                            flex-grow: 1;
                            .title {
                                font-size: 12px;
                                line-height: .8;
                            }
                            .content {
                                flex-wrap: wrap;
                                font-size: 13px;
                            }
                        }
                        .item:not(:last-child) {
                            margin-right: 15px;
                        }
                    }

                }
            }
            .bottom {
                .header {

                }
                border-left: 0;
                border-right: 0;
                .carousel {
                    padding-right: 20px;
                    padding-left: 20px;
                }
                display: flex;
                flex-direction: column;
                .notice .alert{
                    text-align:center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
                .selectedunit {
                    display: flex;
                    flex-grow: 1;
                    margin-top: 15px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-top: 1px dashed $grey;
                    border-bottom: 1px dashed $grey;
                    .box {
                        display: flex;
                        flex-grow: 1;
                        justify-content: center;
                        flex-direction: column;
                        .content {
                            font-weight: 600;
                            font-size: 23px;
                            text-align: center;
                            color: $blue;
                        }
                        .title{
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                }
                hr {
                    margin: 5px;
                }
                .VueCarousel-navigation-button {
                    font-size: 20px;
                    color:$blue ;
                }
                .VueCarousel-slide {
                    display: flex;
                    justify-content: center;
                }
                 /*.VueCarousel-inner {*/
                     /*height: 415px;*/
                /*}*/

                .card-container{
                    border: 1px solid $grey;
                    cursor: pointer;
                }
                .card-container.expanded{
                    padding-top: 10px;
                }
                .card-container:hover {
                    border: 1px solid $blue;
                }
                .card-container.selected {
                    border: 2px solid $blue;
                    background-color: #f7f7f7;
                }
            }
        }

        .modal-header {
            font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
            background-color: $blue;
            padding: 10px;
            .modal-title {
                font-size: 15px;
            }

            color: white;
            .close {
                top: 30%;
                font-weight: 600;
                font-size: 22px;
                color: white;
            }
        }

        .modal-footer {
            display: flex;
            justify-content: center;
            hr {
                margin: 8px;
            }
            div {
                width: 100%;
            }
        }

    }
</style>