<template>
    <div>
        <div class="tab-content-bordered" v-if="Object.keys(chats).length > 0">
            <ul class="nav nav-tabs nav-lg nav-tabs-highlight">
                <li :class="{'active': activeChat === parseInt(oficialId)}"
                    v-for="(chat,oficialId) in chats">
                    <a data-toggle="tab"  @click="activeChat = parseInt(oficialId)">

                        <img v-if="!chat.oficial.foto"  src="image/defaultuser.png" alt=""
                             class="img-circle tab-img position-left">
                        <img v-else :src="chat.oficial.foto" alt=""
                             class="img-circle tab-img position-left">

                        {{chat.oficial.apellido}}
                        <span @click.stop="closeChat(oficialId)"
                              class="icon-x text-muted text-danger-400"
                              style="font-size:13px;padding-top:5px;cursor: pointer"></span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active has-padding" v-if="chats[activeChat]">
                    <VuePerfectScrollbar class="scroll-area" id="scroll-area" :settings="{maxScrollbarLength: 60}">
                        <ul class="media-list chat-list content-group">
                            <li :id="'msg-'+msg.id" class="media animated fadeIn" :class="{'reversed': msg.sentido === 0}"
                                v-for="msg in chats[activeChat].mensajes">
                                <div class="media-left" v-if="msg.sentido === 1">
                                    <img v-if="!msg.oficial_unidad.foto"
                                         src="image/defaultuser.png" class="img-circle img-md" alt="">
                                    <img v-else :src="msg.oficial_unidad.foto" alt=""
                                         class="img-circle img-md">
                                </div>
                                <div class="media-body">
                                    <div class="media-content">{{msg.contenido}}
                                        <div class="check"
                                             :class="{'text-success': msg.estado.id === 2,
                                             'text-default': msg.estado.id === 1,
                                             'text-primary': msg.estado.id === 3
                                             }"
                                             v-show="msg.sentido === 0">
                                            <span class="icon-checkmark2"></span>
                                        </div>
                                    </div>
                                    <span class="media-annotation display-block mt-10">
                                    {{formatDate(msg.creado_en)}}
                                    </span>
                                </div>
                                <div class="media-right" v-if="msg.sentido === 0">
                                    <img v-if="!msg.remitente.foto"
                                         src="image/defaultuser.png" class="img-circle img-md" alt="">
                                    <img v-else
                                         :src="msg.remitente.foto" class="img-circle img-md" alt="">
                                </div>
                            </li>
                        </ul>
                    </VuePerfectScrollbar>



                    <div class="row" style="margin-top: 5px">
                        <div class="col-xs-10">
                               <textarea
                                       @keyup.enter="sendMessage"
                                       v-focus="inputFocused"
                                       @focus="inputFocused = true"
                                       @blur="inputFocused = false"
                                       style=" resize: none;" name="enter-message" v-model="mensajeInput" class="form-control content-group"
                                       rows="1" cols="1" placeholder="Escriba su mensaje"></textarea>
                        </div>
                        <div class="col-xs-2 text-right">
                            <button @click="sendMessage" type="button" class="btn btn-block bg-blue-700 btn-labeled btn-labeled-right"><b>
                                <i class="icon-circle-right2"></i></b> Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="alert alert-primary alert-styled-left">
                <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                <span class="text-semibold">Seleccione algun contacto para iniciar una conversacion.</span>
            </div>
        </div>
    </div>
</template>


<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import {mapGetters,mapActions,mapState} from 'vuex'
  import dateformat from 'dateformat'
  import { focus } from 'vue-focus';
  export default {
    name: "chat",
    directives: { focus: focus },
    components: {
      VuePerfectScrollbar
    },
    computed: {
      ...mapGetters(['mensajes','oficiales','mensajesNoLeidos']),
      ...mapState({
        oficiales: state => state.normalized.entities.oficial
      }),
      chats () {
        const chats = {}
        const oficialesIds = [];
        for (let m of this.mensajes) {
          if (this.oficialesDeChat.includes(m.oficial_unidad_id)) {
            if (!chats[m.oficial_unidad_id]) {
              chats[m.oficial_unidad_id] = {
                mensajes: [],
                oficial: m.oficial_unidad
              }
            }
            chats[m.oficial_unidad_id].mensajes.push(m)
          }
          oficialesIds.push(parseInt(m.oficial_unidad_id))
        }

        for (let c of this.oficialesDeChat) {
          if (!oficialesIds.includes(c)) {
            chats[c] = {
              mensajes: [],
              oficial: this.oficiales[c]
            }
          }
        }

        return chats;
      }
    },
    watch: {
      mensajes (mensajes) {
        const msgs = mensajes.filter(v =>  {
          return v.oficial_unidad_id === this.activeChat &&
                  v.sentido === 1 &&
              v.estado_mensaje_hub_id !== 2
        })
        if (msgs.length > 0) {
          setTimeout(() => {
            this.scrollToBottom()
          },300)
        }
      },
      oficialesDeChat (value) {
        if (value)
          localStorage.setItem("chats",JSON.stringify(this.oficialesDeChat))
      },
      activeChat (value) {
        if (value) {
          this.inputFocused = true;
          this.marcarTodosComoLeidos(this.activeChat)
          localStorage.setItem("activeChat", this.activeChat)
        }
      },
      mensajesNoLeidos() {
        if (this.activeChat) {
            this.marcarTodosComoLeidos(this.activeChat)
        }
      }
    },
    data: function () {
      return {
        activeChat: null,
        mensajeInput: null,
        oficialesDeChat: [],
        inputFocused: false
      }
    },
    methods: {
      ...mapActions([
        'marcarMensajesComoLeidos','enviarMensaje'
      ]),
      formatDate (date) {
        return dateformat(date, "dd/mm h:MM TT")
      },
      sendMessage () {
        if (this.mensajeInput !== null && this.mensajeInput!== "" ) {
          this.enviarMensaje({mensaje: this.mensajeInput, oficial_id: this.activeChat})
          this.mensajeInput = null;
          this.inputFocused = true;
          setTimeout(() => {
            this.scrollToBottom()
          },300)
        }

      },
      scrollToBottom() {
        const objDiv = document.getElementById("scroll-area");
        objDiv.scrollTop = objDiv.scrollHeight;
      },
      createOrOpenChat (oficial_id) {
        const res = this.oficialesDeChat.find(v => v === oficial_id)
        if (!res) {
          this.oficialesDeChat.push(oficial_id)
          this.activeChat = oficial_id;
        } else {
          this.activeChat = oficial_id;
        }
      },
      marcarTodosComoLeidos (oficial_id) {
        const msgs = this.mensajes.filter( v => {
          return  v.oficial_unidad_id === oficial_id && v.sentido === 1 && v.estado.id !== 2
        })
        if (msgs.length > 0)
            this.marcarMensajesComoLeidos({mensajes: msgs.map(v => v.id)})
      },
      closeChat (oficial_id) {
        const id = parseInt(oficial_id);
        this.oficialesDeChat.splice((this.oficialesDeChat.findIndex(v => {
          return v === id
        })),1)

        if (id === this.activeChat) {
          this.activeChat = this.oficialesDeChat[0]
        }
      },

    },
    mounted () {
      this.inputFocused = true;
      let item = localStorage.getItem("chats")
      if (item) {
        this.oficialesDeChat = JSON.parse(item)
      }

      if (this.$route.params.chatId) {
        this.createOrOpenChat(this.$route.params.chatId)
      } else {
        item = localStorage.getItem("activeChat")
        if (item) {
          this.activeChat = parseInt(item);
        }
      }
    }
  }
</script>

<style scoped>
    .scroll-area {
        height: 350px;
    }

    .check {
        display: inline-block;
        position: absolute;
        bottom: -8px;
        right: -24px;
        color: #333;
    }
    .check span{
       font-size: 23px;
    }

    .media-annotation {
        color: #333;
    }
    .chat-list {
        overflow: hidden;
        max-height: none;

    }
    .chat-list .media.reversed {
        margin-right: 10px;

    }
</style>