<template>
    <list-panel :title="'Contactos'" :bodyStyle="{
            'padding-left': '20px',
            'padding-right': '20px',
             'padding-bottom' : 0
          }"
                @searchText="handleSearchTextUpdated"
                :searchTextValue="searchText">
        <template slot="subTitle">
              <span v-if="filteredContactos" style="font-size: 12px">
                    | {{Object.keys(contactos).length}} Contactos encontrados</span>
        </template>
        <VuePerfectScrollbar class="scroll-area" :settings="{maxScrollbarLength: 60}" slot="body">
            <contacto-card v-for="(contacto,unidad_id) in filteredContactos"
                           :contacto = contacto
                           :key="contacto.id"
                           :unidad_id = unidad_id
                           @contactoClicked="(oficial) => {$emit('contactoClicked', oficial)}"
            ></contacto-card>
            <div v-if="filteredContactos == null" style="padding: 15px">
                <small>No hay contactos disponibles</small>
            </div>
        </VuePerfectScrollbar>
    </list-panel>
</template>

<script>
  import ListPanel from './ListPanel'
  import ContactoCard from './ContactoCard'
  import {mapGetters} from 'vuex'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  export default {
    computed: {
        ...mapGetters(['contactos']),
      filteredContactos () {
        if (this.searchText) {
          const ss = this.searchText;
          return Object.keys(this.contactos)
              .filter(s => {
                return this.contactos[s].nombre.toLowerCase().includes(ss.toLowerCase()) ||
                    this.contactos[s].apellido.toLowerCase().includes(ss.toLowerCase()) ||
                    ss.toLowerCase().includes(s)
              })
              .reduce((obj, key) => {
                obj[key] = this.contactos[key];
                return obj;
              }, {});
        } else {
          return this.contactos;
        }
      }
    },
    data () {
      return {
        searchText : null,
      }
    },
    methods: {
      handleSearchTextUpdated (val) {
        this.searchText = val;
      },
    },
    components: {
      ListPanel,ContactoCard,VuePerfectScrollbar
    },
    name: "chat-list"
  }
</script>

<style scoped>
    .scroll-area {
        height: 410px;
        -webkit-mask-image: -webkit-gradient(linear, left 98%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }
</style>