<template>

    <div class="chat-container">
        <div class="list">
            <chat-list
            @contactoClicked="handleContactoClicked"
            ></chat-list>
        </div>
        <div class="chat">
            <chat ref="chat"></chat>
        </div>
        <div class="floating-chat-btn">
            <router-link to="/">
                <button class="btn"><span class="icon-map4"></span> Control de patrullas</button>
            </router-link>
        </div>
    </div>


</template>

<script>
  import Chat from './Chat'
  import ChatList from './ChatList'
  export default {
    name: "chat-container",
    components: {Chat,ChatList},
    methods: {
      handleContactoClicked (oficial) {
        this.$refs.chat.createOrOpenChat(oficial.id)
      }
    }
  }

</script>

<style scoped lang="scss">
.chat-container {
    display: flex;
    .list {
        flex-basis: 25%;
        margin-right: 10px;
    }
    .chat {
        flex-basis: 75%;
        margin-left: 10px;
    }
}

</style>