<template>
    <div>
        <div class="row">
            <div v-show="loading"
                 class="loading-overlay">
                <scale-loader :loading="loading"
                              :color="'#1976D2'"
                ></scale-loader>
            </div>
            <div class="col-md-3">
                <unidad-list
                        v-if="sideMode === 'patrullas' || sideMode === 'cobertura'"
                        ref="unidad_list"
                        :mapCreated="mapCreated"
                        @cardNumeroClicked="handleCardNumeroClicked"
                        @cardSectorClicked="handleCardSectorClicked"
                        @cardUbicacionClicked="handleCardUbicacionClicked"
                        @cardHistorialClicked="handleCardHistorialClicked"
                ></unidad-list>
                <sectores-list
                        v-if="sideMode === 'sectores'"
                        @sectorClicked="showAndFocusSector"
                ></sectores-list>
                <fab
                        :position="'bottom-right'"
                        :position-type="'absolute'"
                        :main-icon="'add'"
                        :z-index="'5'"
                        :main-tooltip="'Ver mas'"
                        :bg-color="'#1976D2'"
                        @verSector="handleVerSector"
                        @verPatrullas="sideMode = 'patrullas'"
                        @verAreaCobertura="handleVerCobertura(true)"
                        @ocultarAreaCobertura="handleVerCobertura(false)"
                        :actions="fabActions"
                ></fab>
            </div>
            <div class="col-md-9" id="mapwrapper">
                <div class="panel panel-flat" >
                    <div class="panel-body" style="padding: 5px; height: 580px">
                        <pms-map
                                ref="pmsmap"
                                @mapCreated="handleMapCreated"
                                @unidadMarkerClicked="handleUnidadMarkerClicked"
                                @incidenteMarkerClicked="handleIncidenteMarkerClicked"
                                @showLoading="handlePmsMapShowLoading"
                                :showCobertura="showingCobertura"
                        ></pms-map>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottom-container">
            <div class="col-md-3" style="display: flex">
                <div class="panel panel-primary">
                    <div class="panel-heading slim">
                        <h6 class="panel-title">
                            <span class="text-bold">Leyenda del Mapa</span>
                        </h6>
                    </div>
                    <div class="panel-body" style="display: flex; flex-direction: column; justify-content: space-between">
                        <div class="media no-margin leyenda-item">
                            <div class="media-body">
                                <h6 class="media-heading text-semibold">Unidad activa</h6>
                                <span class="text-muted">Indica su última ubicación</span>
                            </div>
                            <div class="media-right media-middle">
                                <svg baseProfile="basic" width="35" height="40" viewBox="0 0 50 50">
                                    <path  :style="{
                                    fill: $options.colors.unidadFill,
                                    'fill-opacity': 0.6,
                                    stroke: $options.colors.unidadStroke,
                                    'stroke-width': 3
                                    }"
                                           d="M42.7 16.2c.3-3.4 1.3-6.6 3.1-9.5l-7-6.7c-2.2 1.8-4.7 2.8-7.6 3-2.6.2-5.1-.2-7.4-1.4-2.3 1.1-4.8 1.6-7.4 1.4-2.7-.2-5.1-1.1-7.2-2.7l-6.9 6.7c1.7 2.9 2.7 6 2.9 9.2.1 1.5-.3 3.5-1.3 6.1-.5 1.5-.9 2.7-1.2 3.8-.2 1-.4 1.9-.4 2.5 0 2.8.8 5.3 2.4 7.5 1.3 1.6 3.5 3.4 6.4 5.4 3.3 1.6 5.8 2.6 7.6 3.1.5.2 1 .4 1.5.7l1.5.6c1.1.6 1.9 1.3 2.3 2.1.5-.8 1.3-1.5 2.4-2.1.7-.3 1.4-.6 1.9-.8.5-.2.9-.4 1.1-.5.4-.2.9-.4 1.5-.6.6-.2 1.4-.5 2.2-.8 1.7-.6 3-1.1 3.8-1.6 2.9-2 5-3.8 6.4-5.3 1.7-2.2 2.6-4.8 2.5-7.6-.1-1.3-.7-3.3-1.7-6.1-1.1-2.8-1.6-4.9-1.4-6.4z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="media no-margin leyenda-item">
                            <div class="media-body">
                                <h6 class="media-heading text-semibold">Unidad / Incidencia asignada </h6>
                                <span class="text-muted">Unidad asignada a incidencia, pero aún no confirmada</span>
                            </div>
                            <div class="media-right media-middle">
                                <svg baseProfile="basic" width="35" height="40" viewBox="0 0 50 50">
                                    <path  :style="{
                                    fill: $options.colors.asignadoFill,
                                    'fill-opacity': 0.6,
                                    stroke: $options.colors.asignadoStroke,
                                    'stroke-width': 3
                                    }"
                                           d="M42.7 16.2c.3-3.4 1.3-6.6 3.1-9.5l-7-6.7c-2.2 1.8-4.7 2.8-7.6 3-2.6.2-5.1-.2-7.4-1.4-2.3 1.1-4.8 1.6-7.4 1.4-2.7-.2-5.1-1.1-7.2-2.7l-6.9 6.7c1.7 2.9 2.7 6 2.9 9.2.1 1.5-.3 3.5-1.3 6.1-.5 1.5-.9 2.7-1.2 3.8-.2 1-.4 1.9-.4 2.5 0 2.8.8 5.3 2.4 7.5 1.3 1.6 3.5 3.4 6.4 5.4 3.3 1.6 5.8 2.6 7.6 3.1.5.2 1 .4 1.5.7l1.5.6c1.1.6 1.9 1.3 2.3 2.1.5-.8 1.3-1.5 2.4-2.1.7-.3 1.4-.6 1.9-.8.5-.2.9-.4 1.1-.5.4-.2.9-.4 1.5-.6.6-.2 1.4-.5 2.2-.8 1.7-.6 3-1.1 3.8-1.6 2.9-2 5-3.8 6.4-5.3 1.7-2.2 2.6-4.8 2.5-7.6-.1-1.3-.7-3.3-1.7-6.1-1.1-2.8-1.6-4.9-1.4-6.4z"></path>
                                </svg>
                                <svg baseProfile="basic" width="35" height="40" viewBox="0 0 50 50">
                                    <path :style="{
                                    fill: $options.colors.asignadoFill,
                                    'fill-opacity': 0.6,
                                    stroke: $options.colors.asignadoStroke,
                                    'stroke-width': 3
                                    }"
                                          d="M24 0c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7
                                            30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="media no-margin leyenda-item">
                            <div class="media-body">
                                <h6 class="media-heading text-semibold">Unidad ocupada / Incidencia atendida</h6>
                                <span class="text-muted">Unidad aceptó y atiende una incidencia</span>
                            </div>
                            <div class="media-right media-middle">
                                <svg baseProfile="basic" width="35" height="40" viewBox="0 0 50 50">
                                    <path  :style="{
                                    fill: $options.colors.enCursoFill,
                                    'fill-opacity': 0.6,
                                    stroke: $options.colors.enCursoStroke,
                                    'stroke-width': 3
                                    }"
                                           d="M42.7 16.2c.3-3.4 1.3-6.6 3.1-9.5l-7-6.7c-2.2 1.8-4.7 2.8-7.6 3-2.6.2-5.1-.2-7.4-1.4-2.3 1.1-4.8 1.6-7.4 1.4-2.7-.2-5.1-1.1-7.2-2.7l-6.9 6.7c1.7 2.9 2.7 6 2.9 9.2.1 1.5-.3 3.5-1.3 6.1-.5 1.5-.9 2.7-1.2 3.8-.2 1-.4 1.9-.4 2.5 0 2.8.8 5.3 2.4 7.5 1.3 1.6 3.5 3.4 6.4 5.4 3.3 1.6 5.8 2.6 7.6 3.1.5.2 1 .4 1.5.7l1.5.6c1.1.6 1.9 1.3 2.3 2.1.5-.8 1.3-1.5 2.4-2.1.7-.3 1.4-.6 1.9-.8.5-.2.9-.4 1.1-.5.4-.2.9-.4 1.5-.6.6-.2 1.4-.5 2.2-.8 1.7-.6 3-1.1 3.8-1.6 2.9-2 5-3.8 6.4-5.3 1.7-2.2 2.6-4.8 2.5-7.6-.1-1.3-.7-3.3-1.7-6.1-1.1-2.8-1.6-4.9-1.4-6.4z"></path>
                                </svg>
                                <svg baseProfile="basic" width="35" height="40" viewBox="0 0 50 50">
                                    <path :style="{
                                    fill: $options.colors.enCursoFill,
                                    'fill-opacity': 0.6,
                                    stroke: $options.colors.enCursoStroke,
                                    'stroke-width': 3
                                    }"
                                          d="M24 0c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7
                                            30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="media no-margin leyenda-item">
                            <div class="media-body">
                                <h6 class="media-heading text-semibold">Incidencia pendiente</h6>
                                <span class="text-muted">Creada, abierta o cedida</span>
                            </div>
                            <div class="media-right media-middle">
                                <svg baseProfile="basic" width="35" height="40" viewBox="0 0 50 50">
                                    <path :style="{
                                    fill: $options.colors.noAsignadoFill,
                                    'fill-opacity': 0.6,
                                    stroke: $options.colors.noAsignadoStroke,
                                    'stroke-width': 3
                                    }"
                                          d="M24 0c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7
                                            30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z"></path>
                                </svg>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary border-top-blue-700">
                            <div class="panel-heading slim" style="height: 43px;">
                                <h6 class="panel-title">
                                    <span class="text-bold">Incidentes Pendientes</span>
                                </h6>
                                <div class="heading-elements" v-show="incidentesPendientes.length > 0">
                                    <span class="badge heading-text"
                                          style="background-color: #E53935;border-color: #E53935;color: #fff;">
                                        {{incidentesPendientes.length}}</span>
                                </div>
                            </div>
                            <div class="panel-body incidenciaspanel">
                                <div class="inciwrapper">
                                    <incidencias-table
                                            @mapaClicked="tableVerEnMapa"
                                            @asignarClicked="tableAsignarClicked"
                                            @unidadClicked="tableUnidadClicked"
                                            @cancelarClicked="tableCancelarClicked"
                                            :incidentes="incidentesPendientes"
                                    ></incidencias-table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary border-top-blue-700">
                            <div class="panel-heading slim" style="height: 43px;">
                                <h6 class="panel-title">
                                    <span class="text-bold">Incidentes Asignados y En Curso</span>
                                </h6>
                                <div class="heading-elements" v-show="incidentesEnCurso.length > 0">
                                            <span class="badge heading-text"
                                                  style="background-color: #E53935;border-color: #E53935;color: #fff;">
                                        {{incidentesEnCurso.length}}</span>
                                </div>
                            </div>
                            <div class="panel-body incidenciaspanel">
                                <div class="inciwrapper">
                                    <incidencias-table
                                            @mapaClicked="tableVerEnMapa"
                                            @asignarClicked="tableAsignarClicked"
                                            @unidadClicked="tableUnidadClicked"
                                            @completarClicked="markIncidenteAsCompleted"
                                            :incidentes="incidentesEnCurso"
                                    ></incidencias-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <asignar-unidad-modal
                ref="modal"
                v-if="incidenteAsignando"
                :incidente="incidenteAsignando">
        </asignar-unidad-modal>
        <div class="floating-chat-btn" >
            <router-link to="/chat">
                <button class="btn">
                    <span class="icon-bubbles2"></span> Mensajes
                    <div v-if="mensajesNoLeidos.length > 0" class="mensajes-bubble">
                        <span class="badge badge-danger " >{{mensajesNoLeidos.length}}</span>
                    </div>
                </button>
            </router-link>
        </div>
    </div>
</template>
<script>
  import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'
  import IncidenciasActivas from './../components/IncidenciasActivas'
  import AsignarUnidadModal from './AsignarUnidadModal'
  import PmsMap from './PmsMap'
  import UnidadList from './UnidadList'
  import SectoresList from './SectoresList'
  import IncidenciasTable from './IncidenciasTable'
  import {mapActions, mapGetters} from 'vuex'
  import {incidenciaEstados} from './../shared'
  import fab from 'vue-fab'
  import {colors} from './../marker_icon_styles'
  import Swal from 'sweetalert2'
  import moment from 'moment'

  import scrollTo from 'scroll-to-element'

  export default {
    components: {
      ScaleLoader,
      IncidenciasActivas,
      AsignarUnidadModal,
      PmsMap,
      SectoresList,
      fab,
      UnidadList,
      IncidenciasTable
    },
    computed: {
      ...mapGetters([
        'mensajesNoLeidos','incidentes'
      ]),
      incidentesPendientes () {
        return this.incidentes.filter(i =>{
          return  i.estado_id === incidenciaEstados.CREADA ||
              i.estado_id === incidenciaEstados.ABIERTA ||
              i.estado_id === incidenciaEstados.RECHAZADA
        } )
      },
      incidentesEnCurso () {
        return this.incidentes.filter(i =>{
          return  i.estado_id === incidenciaEstados.EN_CURSO ||  i.estado_id === incidenciaEstados.ASIGNADA
        } )
      },
    },
    watch: {
      sideMode (val) {
        if (val === "patrullas" || val === "cobertura" ) {
          this.fabActions = [
            {
              name: 'verSector',
              icon: 'layers',
              tooltip: 'Ver sectores en el mapa'
            },
            {
              name: this.getCoberturaName(),
              icon: 'blur_on',
              tooltip: this.getCoberturaText()
            }
          ]
        } else if (val === "sectores") {
          this.fabActions = [
            {
              name: 'verPatrullas',
              icon: 'local_activity',
              tooltip: 'Ver unidades en el mapa'
            },
            {
              name: this.getCoberturaName(),
              icon: 'blur_on',
              tooltip: this.getCoberturaText()
            }
          ]
        }
      }
    },
    data () {
      return {
        showingCobertura: false,
        mapCreated: false,
        loading: true,
        incidenteAsignando: null,
        sideMode: 'patrullas',
        fabActions: [
          {
            name: 'verSector',
            icon: 'layers',
            tooltip: 'Ver sector en el mapa'
          },
          {
            name: this.getCoberturaName(),
            icon: 'blur_on',
            tooltip: this.getCoberturaText()
          }
        ]
      }
    },
    methods: {
      getCoberturaText () {
        let tool = 'Ver área de cobertura';
        if (this.showingCobertura) {
          tool = 'Ocultar área de cobertura'
        }
        return tool;
      },
      getCoberturaName () {
        let tool = 'verAreaCobertura';
        if (this.showingCobertura) {
          tool = 'ocultarAreaCobertura'
        }
        return tool;
      },
      markIncidenteAsCompleted (i) {
        this.changeIncidenciaStatus({incidencia_id: i.id, estado_id: incidenciaEstados.RESUELTA})
      },
      tableAsignarClicked (incidente) {
        this.incidenteAsignando = incidente;
        if (incidente.estado_id !== incidenciaEstados.ABIERTA)
          this.changeIncidenciaStatus({incidencia_id: incidente.id, estado_id: incidenciaEstados.ABIERTA})
        if (this.$refs.modal) {
          this.$refs.modal.open()
        }
      },
      tableCancelarClicked (incidente) {
        this.changeIncidenciaStatus({incidencia_id: incidente.id, estado_id: incidenciaEstados.CANCELADA})
      },
      tableUnidadClicked (unidad) {
        scrollTo('#mapwrapper', {
          duration: 300
        })
        setTimeout(() => {   this.$refs.pmsmap.panToUnidad(unidad)},300)
      },
      tableVerEnMapa (i) {
        scrollTo('#mapwrapper', {
          duration: 300
        })
        setTimeout(() => {this.$refs.pmsmap.panToIncidente(i)},300)
      },
      handlePmsMapShowLoading (val) {
        this.loading = val;
      },
      showAndFocusSector (sector) {
        this.$refs.pmsmap.showSector(sector)
      },
      handleVerSector () {
        this.sideMode = 'sectores';
      },
      handleVerCobertura (mode) {
        if (mode) {
          this.sideMode = 'cobertura';
        } else {{
          this.sideMode = 'patrullas';
        }}
        this.showingCobertura = mode;
      },
      ...mapActions([
        'addUnidadAIncidente','startTime','changeIncidenciaStatus'
      ]),
      handleMapCreated () {
        this.mapCreated = true
        this.loading = false;
      },
      handleUnidadMarkerClicked (unidad, _) {
        this.$refs.unidad_list.filterSingleUnit(unidad)
      },
      handleCardHistorialClicked (unidad) {
        this.$refs.pmsmap.showLocationHistory(unidad)
      },
      handleCardNumeroClicked (unidad) {
        this.$refs.pmsmap.pantoToUnidadAndSector(unidad)
      },
      handleCardSectorClicked (unidad,sector) {
        this.$refs.pmsmap.showSector(sector)
      },
      handleCardUbicacionClicked (unidad) {
        this.$refs.pmsmap.panToUnidad(unidad)
      },
      handleIncidenteMarkerClicked (incidente) {
        this.incidenteAsignando = incidente;
        if (incidente.estado_id !== incidenciaEstados.ABIERTA)
          this.changeIncidenciaStatus({incidencia_id: incidente.id, estado_id: incidenciaEstados.ABIERTA})

        if (this.$refs.modal) {
          console.log('open', incidente.id)
          this.$refs.modal.open()
        }

      },
      fetchUnidadesFuera () {

      },

    },

    created () {
      this.$options.colors = colors;
      window.addEventListener('keyup', (event) => {
        if (event.keyCode === 27) {
          this.$refs.unidad_list.showAllUnits()
          this.$refs.pmsmap.resetMapView()
        }
      });
      this.startTime()
    },
    mounted() {
      Echo.channel('d-'+destacamento_id)
          .listen('.mensaje_hub.received', (e) => {
            this.$swal({
              toast: true,
              position: 'top-end',
              title: "<div class='icon'><span class='icon-envelop2' style='color: #1976D2'></span></div> " +
              " <span class='title'>"+e.mensaje.oficial_unidad.nombre+ " "+e.mensaje.oficial_unidad.apellido+"</span> ",
              text: e.mensaje.contenido,
              customClass: 'mensaje-notif',
              confirmButtonClass: "btn btn-primary btn-notif",
              showConfirmButton: true,
              confirmButtonText: "Ver",
              animation: true,
              buttonsStyling: false,
              timer: 3000,
            }).then(result => {
              if (result.value === true) {
                this.$router.push({name: "chat", params: {chatId: e.mensaje.oficial_unidad_id}})
              }
            })
          })
          .listen('.incidencia_civil.status_changed', (e) => {
            if (e.incidenciaCivil.estado_id === incidenciaEstados.RESUELTA
                || e.incidenciaCivil.estado_id === incidenciaEstados.EN_CURSO
                || e.incidenciaCivil.estado_id === incidenciaEstados.RECHAZADA
            ) {
              this.$swal({
                toast: true,
                position: 'top-end',
                title: "<div class='icon'><span class='icon-flag4' style='color: #1976D2'></span></div> " +
                " <span class='title'>Estado de incidencia # "+e.incidenciaCivil.id+" actualizado</span> ",
                text: "La incidencia está "+e.incidenciaCivil.estado.nombre,
                customClass: 'mensaje-notif',
                confirmButtonClass: "btn btn-primary btn-notif",
                showConfirmButton: true,
                confirmButtonText: "Ver",
                animation: true,
                buttonsStyling: false,
                timer: 7000,
              }).then(result => {
                if (result.value === true) {
                  window.open('/incidencias/'+e.incidenciaCivil.id, '_blank');
                }
              })
            }
          })
    }

  }

  function checkTimers() {
    setInterval(() => {
      const timersString = localStorage.getItem("timers");
      if (timersString) {
        const timers = JSON.parse(timersString)
        timers.forEach((v,i) => {
        const diff =  moment.duration(moment().diff(moment.unix(v.time)))
          if (diff.asMinutes() > 5) {
          Swal({
            toast: true,
            position: 'top-end',
            title: "Incidente no aceptado por unidad.",
            text: "La unidad "+v.unidad_id+ " está tardando mucho en aceptar el incidente asignado. ",
            animation: true,
            type: 'error',
          })
            timers.splice(i,1)
          }
        })
        localStorage.setItem("timers", JSON.stringify(timers))
      }
    },1000)
  }
  checkTimers()
</script>
<style lang="scss">



    @media only screen and (min-width : 992px) {
        .bottom-container {
            display: flex;
        }
    }

    .incidenciaspanel {
        display: flex;
        .inciwrapper {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
        }
    }

    .mensaje-notif {
        padding-left: 55px !important;
        max-width: 550px;
        min-height: 60px;
        .swal2-content {
            font-size: 13px;
        }
    }
    .btn-notif{
        padding: 0 5px;
        background-color: #1976D2
    }
    .mensaje-notif .title{
        font-size: 14px;
    }
    .mensaje-notif .icon{
        position: absolute;
        left: -40px;
    }
    .mensaje-notif .icon span{
        font-size: 25px
    }
    .leyenda-item:not(:first-child) {
        padding-top: 5px;
    }

    .leyenda-item:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px dashed #dcdcdc;
    }

</style>