<template>
    <div class="card-container" >
        <div class="imagen">
            <img v-if="!contacto.foto" src="/image/defaultuser.png">
            <img v-else :src="contacto.foto">
        </div>
        <div class="details">
            <div class="name">
                <span class="text-semibold no-margin text-blue-700" style="font-size: 15px">U{{unidad_id}} | </span>
                <span class="text-semibold no-margin">{{contacto.apellido}}, {{contacto.nombre}}</span>

            </div>
            <div class="rank">
                <span class="icon-stars text-success"></span>
                <span class="text-muted text-size-base"
                      style="font-weight: 400">{{contacto.rango.nombre}}</span>
            </div>
        </div>


            <div @click="$emit('contactoClicked', contacto)" class="icon clickable">
                <span class="icon-bubbles4"></span>
            </div>

        <div class="noleidos clickable" @click="$emit('contactoClicked', contacto)">
            <span v-show="noLeidosCount > 0" class="badge badge-danger">{{noLeidosCount}}</span>
        </div>

    </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    props: ['contacto','unidad_id'],
    name: "contacto-card",
    computed: {
        ...mapGetters([
            'mensajesNoLeidos'
        ]),
      noLeidosCount () {
          return this.mensajesNoLeidos.filter(v => {
            return v.oficial_unidad_id === this.contacto.id
          }).length
      }
    },
  }
</script>

<style scoped lang="scss">
    .card-container {
        padding-right: 10px;
        .noleidos {
            position: absolute;
            left: 27px;
        }
        border-bottom: 2px solid rgb(231, 231, 231);
        padding-top: 5px;
        padding-bottom: 10px;
        display: flex;
        position: relative;
        .icon {
            display: flex;
            align-items: center;
            color: #1976D2;
        }
        .imagen {
            display: flex;
            flex-basis: 50px;
            margin-right: 5px;
        }
        .details {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }


    .card-container img {
        width: 42px;
        height: 42px;
        margin-right: 5px;
        border-radius: 50%;
    }
</style>