<template>
    <div class="panel panel-primary incidencia-panel">
        <div class="panel-heading" >
            <span class="text-bold titulo">Incidentes Activos</span>
        </div>
        <div class="panel-body wrapper"  :style="{height: height+'px'}">
            <div v-if="!incidenciasActivas" class="empty">
                <span class="text-muted">No hay incidentes activos en este momento.</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      name: "incidencias-activas",
      props: {
        height: {
          type: Number,
          default: 350
        }
      },
      data: function () {
        return {
          incidenciasActivas: null
        }
      }
    }
</script>

<style lang="scss" scoped>
    .panel-body.wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .empty {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
        }
    }
</style>