<template>
    <tr>
        <td class="text-center">
             <span v-if="incidente.unidades.length > 0"
                   @click="$emit('unidadClicked', incidente.unidades[0])"
                   class="text-bold" :style="{color: statusColor}"
                   style="font-size: 15px; cursor: pointer" >
                        U{{incidente.unidades[0].id}}</span>
            <h6 class="no-margin">{{getTimeSince(incidente.fecha_incidencia).text}}
                <small v-show="getTimeSince(incidente.fecha_incidencia).unit === 'minute'"
                       class="display-block text-size-small no-margin">
                    minutos
                </small>
                <small v-show="getTimeSince(incidente.fecha_incidencia).unit === 'hour'"
                       class="display-block text-size-small no-margin">
                    horas
                </small>
            </h6>
        </td>
        <td>
            <div class="detail-row">
                <div class="field">
                    <div class="title">
                        Tipo
                    </div>
                    <div class="content">
                        {{incidente.tipo.nombre}}
                    </div>
                </div>
                <div class="field">
                    <div class="title">
                        Prioridad
                    </div>
                    <div class="content">
                        {{incidente.prioridad.nombre}}
                    </div>
                </div>
                <div class="field">
                    <div class="title">
                        Sector
                    </div>
                    <div class="content">
                        {{incidente.sector.nombre}}
                    </div>
                </div>
            </div>
            <div v-show="expanded" class="detail-row">
                <div class="field">
                    <div class="title">
                        Involucrados
                    </div>
                    <div class="content">
                        {{incidente.personas_involucradas}}
                    </div>
                </div>
                <div class="field">
                    <div class="title">
                        Ubicación
                    </div>
                    <div class="content">
                        {{incidente.ubicacion_texto}}
                    </div>
                </div>
                <div class="field">
                    <div class="title">
                        Estado
                    </div>
                    <div class="content" :style="{color: statusColor}">
                        {{incidente.estado.nombre}}
                    </div>
                </div>
            </div>
            <span v-show="expanded" class="display-block text-muted">{{incidente.detalle_incidente}}</span>
        </td>
        <td class="text-center" style="    vertical-align: top;">
            <ul class="icons-list">
                <li class="dropdown clickable">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li v-show="incidente.estado_id !== 4 && incidente.estado_id !== 3" @click="$emit('asignarClicked', incidente)"><a class="notop" href="#"><i class="icon-plus3"></i> Asignar a Unidad</a></li>
                        <li @click="$emit('mapaClicked', incidente)"><a class="notop" href="#"><i class="icon-map5"></i> Ver en Mapa</a></li>
                       <li><a :href="'/incidencias/'+incidente.id" target="_blank"><i class="icon-stack-text"></i> Ver en detalle</a></li>
                       <template v-if="incidente.estado_id === 2 || incidente.estado_id === 1">
                           <li class="divider"></li>
                           <li @click="$emit('cancelarClicked', incidente)"><a class="notop" href="#">
                               <i class="icon-cross2" style="color: #ef4232"></i> Cancelar Incidencia </a></li>
                       </template>
                    </ul>
                </li>

            </ul>
            <ul class="icons-list" style="margin-top: 10px">
                <li @click="expanded = !expanded" class="clickable" style="cursor: pointer">
                    <span v-show="!expanded" class="icon-circle-down2"></span>
                    <span  v-show="expanded" class="icon-circle-up2"></span>
                </li>
            </ul>
        </td>
    </tr>
</template>

<script>
  import moment from 'moment'
  import {mapState} from 'vuex'
  import {colors} from './../marker_icon_styles'
  import {incidenciaEstados} from './../shared'
  export default {
    name: "incidente-row",
    props: ['incidente'],
    data () {
      return {
        expanded: false
      }
    },
    computed: {
      statusColor () {
        if (this.incidente.estado_id === incidenciaEstados.EN_CURSO) {
          return colors.enCursoFill
        }
        if (this.incidente.estado_id === incidenciaEstados.ASIGNADA) {
          return colors.asignadoFill
        }
      },
      ...mapState({
        now: state => state.now
      }),
    },
    methods : {
      getTimeSince (date) {
        const diff = moment.duration(this.now.diff(moment(date)));

        if (diff.asMinutes() < 160) {
          return {
            text: diff.asMinutes().toFixed(0),
            amount: diff.asMinutes().toFixed(0),
            unit: 'minute'
          }
        }  else {
          return {
            text:  diff.asHours().toFixed(0),
            amount: diff.asMinutes().toFixed(0),
            unit: 'hour'
          }

        }

      }
    }
  }
</script>

<style scoped lang="scss">
    .detail-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .field {
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            margin-bottom: 5px;
            .title {
                font-size: 10px;
                color: #1976D2;
            }
        }
    }
    td {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
</style>