<template>
    <VuePerfectScrollbar class="scroll-area" :settings="{maxScrollbarLength: 60}">
        <table class="table table-framed table-condensed">
            <thead>
            <tr>
                <th style="width: 50px">Tiempo</th>
                <th class="text-center ">Descripción</th>
                <th class="text-center" style="width: 20px;">
                    <i class="icon-more2"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <incidente-row  :key="i.id" v-for="i in incidentesByDateDesc" :incidente="i"
            @asignarClicked="(i) => {$emit('asignarClicked', i)}"
            @mapaClicked="(i) => {$emit('mapaClicked', i)}"
            @completarClicked="(i) => {$emit('completarClicked', i)}"
            @unidadClicked="(i) => {$emit('unidadClicked', i)}"
            @cancelarClicked="(i) => {$emit('cancelarClicked', i)}"
            ></incidente-row>
            <tr v-if="incidentes.length === 0">
                <td colspan="3" class="text-center">
                    No hay incidencias de este tipo
                </td>
            </tr>
            </tbody>
        </table>
    </VuePerfectScrollbar>
</template>

<style lang="scss" scoped>
    .scroll-area {
        max-height: 325px;
        -webkit-mask-image: -webkit-gradient(linear, left 95%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }

</style>
<script>

  import IncidenteRow from './IncidenteRow'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  export default {
    components: {
      VuePerfectScrollbar, IncidenteRow
    },
    props: ['incidentes'],
    computed: {
      incidentesByDateDesc () {
        return this.incidentes.sort((a,b) => {
          return moment(a.fecha_incidencia).unix()
              - moment(b.fecha_incidencia).unix()
        })
      }
    },
    data () {
      return {

      }
    },
  }
</script>