<template>
    <div style="padding-bottom: 2px;text-align: center;padding-top:2px; margin-top: 3px; " class="alert alert-primary alert-bordered mb-5">
        <template v-if="message">{{message}}</template>
        <template v-else>
            <template v-if="defaultMessage">{{defaultMessage}}</template>
            <template v-else>Barra de Información</template>
        </template>
    </div>
</template>

<script>
  export default {
    name: 'info-bar',
    props: ['message', 'defaultMessage'],
    data: function () {
      return {
        realMsg: null
      }
    }
  }
</script>