<template>
    <div class="panel panel-primary"  :style="{'height': height ? height+'px' : '100%'}">
        <div class="panel-heading ">
            <h6 v-if="!searching" class="animated fadeIn panel-title">
                <span class="text-bold">{{title}}</span>
                <slot name="subTitle"></slot>
                <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
            <div class="heading-elements">
                <ul class="icons-list animated fadeIn " v-if="!searching">
                    <li @click="searching = true"><a href="#"><i class="icon-search4"></i></a></li>
                </ul>
            </div>
            <div v-if="searching" class="animated fadeIn">
                <div>
                    <div style="margin-right: 20px">
                        <input @input="(a) => {$emit('searchText',a.target.value)}"
                               :value="searchTextValue"
                               autofocus style="display: inline-block"
                               type="text"
                               class="form-control" :placeholder="searchPlaceholder">
                        <span @click="searching = false" style="cursor: pointer; position: absolute;
                            right: 15px; top: 25px">
                            <i class="icon-cross3"></i>
                        </span>
                    </div>

                </div>
                <slot name="searchSubText"></slot>
            </div>
        </div>
        <div class="panel-body wrapper" :style="bodyStyle">
            <slot name="body"></slot>
        </div>
    </div>
</template>

<script>
  export default {
    name: "list-panel",
    props: {
      title: String,
      searchTextValue: String,
      height: Number,
      searchPlaceholder: {
        type: String,
        default: "Término a buscar"
      },
      bodyStyle: {
        type: Object,
        default: () => {
          return {
            'padding-left': '10px',
            'padding-right': '10px'
          }
        }
      }
    },
    data () {
      return {
        searching: null
      }
    }
  }
</script>
