<template>
    <div style="position: relative;height: 100%" v-if="init">
        <div v-if="sectoresVisibles.length > 0"
             style="position: absolute;z-index: 1;opacity: .85;
        margin: 15px;bottom:27px; padding-bottom: 7px;padding-top: 7px"
             class="alert alert-primary alert-styled-left alert-bordered">
            Visializando
            <span v-for="sector in sectoresVisibles"> {{sector.nombre}}</span>
            <span @click="ocultarSector" style="cursor: pointer" class="alert-link">Ocultar sector</span>
        </div>

        <div v-if="unidadViendoHistorial !== null"
             style="position: absolute;z-index: 1;opacity: .85;
        margin: 15px;bottom:27px; padding-bottom: 7px;padding-top: 7px"
             class="alert alert-primary alert-styled-left alert-bordered">
            Visializando historial de Unidad {{unidadViendoHistorial}}
            <span @click="ocultarHistorial"
                  style="cursor: pointer"
                  class="alert-link">Volver</span>
        </div>

        <gmap-map
                :ref="'map'"
                :center="center"
                :zoom="zoom"
                :style="{width: '100%', height: '100%'}">

            <template v-if="unidadViendoHistorial === null">

                <!--Incidentes-->
                <google-marker v-if="incidentesActivos && incidentesActivos.length > 0"
                               v-for="i in incidentesActivos" :key="'i'+i.id"
                               :position="getLatLngFromPoint(i.ubicacion)"
                               :clickable="true"
                               :ref="'incidente-'+i.id"
                               :icon="getIncidenteIcon(i)"
                               :animation="i.prioridad_id === 1 || i.prioridad_id === 2 ? 1 : null"
                               @click="handleIncidenteClicked(i, $refs['incidente-'+i.id])"
                               @mouseover="hoveringIncidencia = i.id"
                               @mouseout="hoveringIncidencia = null"
                >
                </google-marker>

                <!--Unidades-->
                <template v-for="u in unidades">
                    <google-marker v-if="unidades && unidades.length > 0"
                                   :key="'u'+u.id"
                                   :position="getLatLngFromPoint(getLastUbicacion(u.localizaciones).ubicacion)"
                                   :clickable="true"
                                   :label="{
                              text: 'U'+u.id,
                              color: 'white',
                              fontSize: '11px',
                              fontWeight: '500'
                            }"

                                   :icon="getUnidadIcon(u)"
                                   :ref="'unidad-'+u.id"
                                   @click="handleUnidadClicked(u, $refs['unidad-'+u.id])"
                                   @mouseover="handleUnidadMouseEnter(u, $refs['unidad-'+u.id])"
                                   @mouseout="handleUnidadMouseLeave(u, $refs['unidad-'+u.id])"

                    >
                    </google-marker>
                    <google-circle
                            :center="getLatLngFromPoint(getLastUbicacion(u.localizaciones).ubicacion)"
                            :radius="300"
                            :options="{
                            strokeColor: '#42841c',
                            strokeOpacity: 0.7,
                            strokeWeight: 1,
                            fillColor: '#50a922',
                            fillOpacity: 0.35,
                            }"
                            v-if="showCobertura"
                    ></google-circle>
                </template>


                <!--Sectores-->
                <google-polygon v-if="sectoresVisibles && sectoresVisibles.length > 0"
                                v-for="(sector, index) in sectoresVisibles"
                                :ref="'sector-'+sector.id"
                                :key="sector.id"
                                :paths="getLatLngArrayFromPolygon(sector.limites)"
                                :options="getPolygonOptions()"
                                @click="handleSectorClicked(sector, $refs['sector-'+sector.id])"
                                @mouseover="handleSectorMouseEnter(sector, $refs['sector-'+sector.id])"
                                @mouseout="handleSectorMouseLeave(sector, $refs['sector-'+sector.id])"
                >
                </google-polygon>

                <!--Infowindow Template-->
                <gmap-info-window
                        :options="infoOptions"
                        :position="infoWindowPos"
                        :opened="infoWinOpen"
                        @closeclick="infoWinOpen=false">
                    <template v-if="currentInfoWinUnidad && currentInfoWinUnidad.localizaciones.length > 0">
                        <div class="text-center">
                        <span class="label label-flat border-primary text-primary">
                        Hace {{getUnitLastLocationUpdateTime(currentInfoWinUnidad)}}</span>
                        </div>
                    </template>
                </gmap-info-window>
            </template>


            <google-marker v-if="unidadViendoHistorial !== null &&
                            unidadHistorialLocalizaciones &&
                            unidadHistorialLocalizaciones.length > 0"
                           :label="{
                              text: (index+1).toString(),
                              color: 'white',
                              fontSize: '11px',
                              fontWeight: '500'
                            }"
                           v-for="(i,index) in unidadHistorialLocalizaciones" :key="'i'+i.id"
                           :position="getLatLngFromPoint(i.snapped)"
                           :clickable="true"
                           :icon="getUnidadHistorialIcon(index)"
                           @click="handleUbicacionHistorialClicked(i)"
            >
            </google-marker>

            <!--<template v-if="locations">-->
            <!--<google-marker :key="m.id" v-for="(m,i) in markers"-->
            <!--:position="m.position"-->
            <!--:clickable="true"-->
            <!--:animation="2"-->
            <!--:label="m.id.toString()"-->
            <!--@click="toggleInfoWindow(m,i)">-->
            <!--</google-marker>-->
            <!--</template>-->
        </gmap-map>

        <!--<info-bar-->
        <!--:message="infoMsg"-->
        <!--&gt;</info-bar>-->

    </div>

</template>

<script>
  import infoBar from './InfoBar'
  import dateformat from 'dateformat'
  import {unidadIcon,incidenteIcon,colors} from './../marker_icon_styles'
  import {mapGetters} from 'vuex'
  import {incidenciaEstados} from './../shared'
  import {Marker, Polygon, loaded,Circle} from 'vue2-google-maps';
  import {
    getLatLngFromPoint,
    getLatLngArrayFromPolygon,
    getBoundsFromPolygon,
    getBoundsFromPoints,
    localizacionesToWaypoints,
    addVertexToPolygon,
    getLastUbicacion,
    getUnitLastLocationUpdateTime,
    orderLocationsByDateDesc} from '../utils/helpers'
  import LocalizacionesService from './../services/LocalizacionesService'
  const locService = new LocalizacionesService()
  export default {
    name: 'pms-map',
    components: {
      infoBar,
      'google-marker': Marker,
      'google-polygon': Polygon,
      'google-circle': Circle
    },
    props: ['showCobertura'],
    data () {
      return {
        init: false,
        mapCreatedBinded: false,
        infoMsg: null,
        sectoresVisibles: [],
        center: {lat: 19.452513, lng: -70.679210},
        zoom: 14,
        infoWindowPos: {
          lat: 0,
          lng: 0
        },
        infoWinOpen: false,
        infoOptions: {
          pixelOffset: {
            width: 0,
            height: -35
          }
        },
        currentInfoWinUnidad: null,
        unidadViendoHistorial: null,
        currentHistorial: null,
        hoveringIncidencia: null,
        hoveringUnidad: null
      }
    },
    computed : {
      incidentesActivos () {
        return this.incidentes.filter(i => {
          return i.estado_id !== 6 && i.estado_id !== 5
        })
      },
      unidadHistorialLocalizaciones () {
        if (this.unidadViendoHistorial !== null) {
          const locs = this.currentHistorial
          if (locs && locs.length > 0) {
            return locs
          }
        }
        return null
      },
      ...mapGetters([
        'unidades','sectores','incidentes'
      ])
    },
    methods: {
      orderLocationsByDateDesc:orderLocationsByDateDesc,
      getLastUbicacion:getLastUbicacion,
      ocultarHistorial () {
        this.currentHistorial = null
        this.unidadViendoHistorial = null
        this.resetMapView()
        this.$options.directionsDisplay.setMap(null)
      },
      showLocationHistory (unidad) {
        this.ocultarHistorial()
        this.$options.directionsDisplay.setMap(this.$options.mapObject)
        this.$emit('showLoading', true)
        locService.getLocationHistory(unidad.id,100,20).then(r => {
          if (r) {
            this.currentHistorial = r
            this.unidadViendoHistorial = unidad.id
            this.calcRouteForHistory()
            const bounds = getBoundsFromPoints(this.currentHistorial)
            this.$refs.map.fitBounds(bounds)
          } else {
            this.$toastr.e("No hay historial para la unidad seleccionada")
          }
        }).catch(e => {
          this.$toastr.e("Error al obtener historial de localizaciones")
          console.log(e)
        }).finally(() => {
          this.$emit('showLoading', false)
        })
      },
      pantoToUnidadAndSector (unidad) {
        const sector = this.sectores.find((val) => {
          return val.id === unidad.sector.id
        })
        this.sectoresVisibles = [sector]
        const point = getLatLngFromPoint(getLastUbicacion(unidad.localizaciones).ubicacion)

        const polygon = addVertexToPolygon(JSON.parse(JSON.stringify(sector.limites)), point)
        const bounds = getBoundsFromPolygon(polygon)
        this.$refs.map.fitBounds(bounds)
      },
      ocultarSector() {
        this.sectoresVisibles = []
        this.resetMapView()
      },
      getUnitLastLocationUpdateTime (unidad) {
        return getUnitLastLocationUpdateTime(unidad)
      },
      getFormattedDate (date) {
        return dateformat(date, "dd-mm-yy hh:MM:ss tt")
      },
      showLocationDetails (unidad) {
        this.infoWindowPos = getLatLngFromPoint(getLastUbicacion(unidad.localizaciones).ubicacion);
        //check if its the same marker that was selected if yes toggle
        if (this.currentInfoWinUnidad && this.currentInfoWinUnidad.id === unidad.id) {
          this.infoWinOpen = !this.infoWinOpen;
        }
        //if different marker set infowindow to open and reset current marker index
        else {
          this.infoWinOpen = true;
          this.currentInfoWinUnidad = unidad;
        }
      },
      resetMapView () {
        this.pantToPoint({lat: 19.452513, lng: -70.679210}, 14)
        this.sectoresVisibles = []
      },
      showSector (sector) {
        const sect = this.sectores.find((val) => {
          return val.id === sector.id
        })
        this.sectoresVisibles = [sect]
        const bounds = getBoundsFromPolygon(sect.limites)
        this.$refs.map.fitBounds(bounds)
      },
      panToUnidad(unidad) {
        this.pantToPoint(getLatLngFromPoint(getLastUbicacion(unidad.localizaciones).ubicacion))
      },
      panToIncidente(i) {
        this.pantToPoint(getLatLngFromPoint(i.ubicacion))
      },
      pantToPoint(point,zoom = 16) {
        this.$refs.map.panTo(point)
        this.$options.mapObject.setZoom(zoom);
      },
      getLatLngFromPoint (point) {
        return getLatLngFromPoint(point)
      },
      getLatLngArrayFromPolygon (polygon) {
        return getLatLngArrayFromPolygon(polygon)
      },
      handleUnidadClicked(unidad, markerObj) {
        this.panToUnidad(unidad)
        this.$emit('unidadMarkerClicked', unidad, markerObj)
      },
      handleUnidadMouseEnter (unidad, markerObj) {
        this.hoveringUnidad = unidad.id
        this.$emit('unidadMarkerMouseEnter', unidad, markerObj)
      },
      handleUnidadMouseLeave (unidad, markerObj) {
        this.hoveringUnidad = null
        this.$emit('unidadMarkerMouseLeave', unidad, markerObj)
      },
      handleSectorClicked(sector, polygonObj) {
        this.$emit('sectorPolygonClicked', sector, polygonObj)
      },
      handleSectorMouseEnter (sector, polygonObj) {
        this.$emit('sectorPolygonMouseEnter', sector, polygonObj)
      },
      handleSectorMouseLeave (sector, polygonObj) {
        this.$emit('sectorPolygonMouseLeave', sector, polygonObj)
      },
      handleIncidenteClicked (incidente, markerObj) {
        if (incidente.estado_id === 1 || incidente.estado_id === 2 || incidente.estado_id === 7) {
          this.$emit('incidenteMarkerClicked',incidente, markerObj)
        } else {
          window.open("/incidencias/"+incidente.id, '_blank');
        }
      },
      getIncidenteIcon (i) {
        const obj = {}
        if (i.estado_id === incidenciaEstados.EN_CURSO) {
          obj.fillColor = colors.enCursoFill
          obj.strokeColor = colors.enCursoStroke
        }
        else {
          if (i.estado_id === incidenciaEstados.ASIGNADA) {
            obj.fillColor = colors.asignadoFill
            obj.strokeColor = colors.asignadoStroke
          }
        }
        if (i.unidades.length > 0) {
          const unidad = i.unidades.find(u => u.id === this.hoveringUnidad)
          if ( (i.estado_id === incidenciaEstados.EN_CURSO || i.estado_id === incidenciaEstados.ASIGNADA) &&
              (this.hoveringIncidencia === i.id || unidad)) {
            return {...incidenteIcon, ...obj,
              strokeColor: colors.noAsignadoStroke,
              strokeWeight: 4}
          }
        }
        return {...incidenteIcon,...obj}

      },
      getUnidadIcon (u) {
        const incidente = this.incidentes.find(i => {
          if (i.unidades && i.unidades.length > 0) {
            return !!i.unidades.find(uf => {
              return uf.id === u.id
            })
          }
          return false;
        })
        if (incidente) {
          const obj = {}

          if (incidente.estado_id === incidenciaEstados.EN_CURSO) {
            obj.fillColor = colors.enCursoFill
            obj.strokeColor = colors.enCursoStroke
          }
          else {
            if (incidente.estado_id === incidenciaEstados.ASIGNADA) {
              obj.fillColor = colors.asignadoFill
              obj.strokeColor = colors.asignadoStroke
            }
          }

          if ((incidente.estado_id === incidenciaEstados.EN_CURSO ||
                  incidente.estado_id === incidenciaEstados.ASIGNADA) &&
              (this.hoveringUnidad === u.id || this.hoveringIncidencia === incidente.id)) {
            return {...unidadIcon, ...obj,
              strokeColor: colors.noAsignadoStroke,
              strokeWeight: 4}
          }

          return {...unidadIcon,...obj}

        } else {
          return {...unidadIcon}
        }
      },
      getUnidadHistorialIcon (index) {
        const opacity = 1-(index/this.unidadHistorialLocalizaciones.length)*0.7
        return {...unidadIcon, fillOpacity: opacity,scale: 0.5}
      },
      handleUbicacionHistorialClicked (localizacion) {

      },
      initializeDirections () {
        this.$options.directionsService = new google.maps.DirectionsService();
        this.$options.directionsDisplay = new google.maps.DirectionsRenderer({
          suppressMarkers: true
        });
        this.$options.directionsDisplay.setMap(this.$options.mapObject);
      },
      calcRoute (origin,dest,waypoints = []) {
        const request = {
          origin: origin,
          destination: dest,
          waypoints,
          travelMode: 'DRIVING',
          provideRouteAlternatives: false
        };
        this.$options.directionsService.route(request, (result, status) => {
          if (status === 'OK') {
            this.$options.directionsDisplay.setDirections(result);
          }
        });
      },
      calcRouteForHistory () {
        if (this.currentHistorial && this.currentHistorial.length > 1) {

          if (this.currentHistorial.length <= 23) {
            const last = this.currentHistorial.length-1;
            this.calcRoute(
                getLatLngFromPoint(this.currentHistorial[0].ubicacion),
                getLatLngFromPoint( this.currentHistorial[last].ubicacion),
                localizacionesToWaypoints(this.currentHistorial.slice(1, last))
            )
          } else {
            for (let i = 0; i<(parseInt(this.currentHistorial.length/23));i++) {
              const newArr = this.currentHistorial.slice(23*i,23*i+23)
              const last = newArr.length-1;
              this.calcRoute(
                  getLatLngFromPoint(newArr[0].ubicacion),
                  getLatLngFromPoint(newArr[last].ubicacion),
                  localizacionesToWaypoints(newArr.slice(1,last-1))
              )
            }
          }


        }

      },
      getPolygonOptions() {
        // const colors = [
        //   "#FF0000",
        //   "#42bff4",
        //   "#65f441"
        // ]
        // const color = colors[index !== 0 ? (index%colors.length)-1: 0]
        return {
          strokeColor: "#ff4b00",
          strokeOpacity: 0.35,
          strokeWeight: 1,
          fillColor: "#ff4b00",
          fillOpacity: 0.10
        }
      },
    },
    beforeCreate () {
      loaded.then(() => {
        this.init = true;
      })
    },
    updated () {
      if ( !this.mapCreatedBinded && this.init ) {
        this.$refs.map.$mapCreated.then(() => {
          this.$options.mapObject = this.$refs.map.$mapObject
          this.initializeDirections()
          this.$emit('mapCreated', this.$refs.map.$mapObject)
        })
        this.mapCreatedBinded = true;
      }
    },
    mounted () {

    }
  }



</script>