<template>
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
                    <li class="active"><a href="#justified-left-tab1" data-toggle="tab">
                        <i class="icon-watch2 position-left"></i> Actualizaciones Recientes</a>
                    </li>
                    <li>
                        <a href="#justified-left-tab2" data-toggle="tab">
                            <i class="icon-bell3 position-left"></i> Monitor de Incidencias </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="justified-left-tab1">
                        <table class="table text-nowrap">
                            <thead>
                            <tr>
                                <th>Unidad</th>
                                <th class="col-md-2">Fecha</th>
                                <th class="col-md-2">Tipo</th>
                                <th class="col-md-2">Data</th>
                                <th class="col-md-2">Estado</th>
                                <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr v-if="locations && locations.length !== 0" class="animate fadeIn" v-for="loc in locations" :key="loc.id">
                                <td>
                                    <div class="media-left">
                                        <div class=""><span href="#" class="text-default text-semibold">Unidad {{loc.unit_number}}</span></div>
                                        <div class="text-muted text-size-small">
                                            <span class="status-mark border-blue position-left"></span>
                                            Loc ID# {{loc.id}}
                                        </div>
                                    </div>
                                </td>
                                <td><span class="text-muted">{{loc.location_date}}</span></td>
                                <td><span class="text-success-600">Nueva Localización </span></td>
                                <td><span class="text-muted">Latitud: {{loc.lat.substring(0,8)}} | Longitud: {{loc.lng.substring(0,8)}}</span></td>
                                <td><span class="label bg-blue">Confirmada</span></td>
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#"><i class="icon-file-stats"></i> Ver Detalles</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr v-if="!locations || locations.length === 0">
                                <td style="text-align: center" colspan="5">
                                    <h5>No existen actualizaciones recientes</h5>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="justified-left-tab2">

                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['locations'],
        mounted() {

        }
    }

</script>