<template>
    <list-panel :title="'Sectores'"
                @searchText="handleSearchTextUpdated"
                :searchTextValue="searchText"
                :bodyStyle="{'padding-left': '20px','padding-right': '20px'}"
                :height="550">
        <template slot="subTitle">
              <span v-if="filteredSectores" style="font-size: 12px">
                    | {{sectores.length}} Sectores registados</span>
        </template>
        <template slot="searchSubText">
            <div class="mt-5" v-if="filteredSectores">
                <span class="text-white">Resultados de busqueda: ({{filteredSectores.length}})</span>
            </div>
        </template>

        <VuePerfectScrollbar class="scroll-area" :settings="{maxScrollbarLength: 60}" slot="body">
                <sector-card
                        v-for="sector in filteredSectores"
                        v-if="filteredSectores !== null"
                        :sector="sector"
                        :key="sector.id"
                        @sectorClicked="handleSectorClicked"
                ></sector-card>
            <div v-if="filteredSectores == null" style="padding: 15px">
                <small>No hay sectores cargados</small>
            </div>
        </VuePerfectScrollbar>
    </list-panel>

</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import SectorCard from './SectorCard'
  import ListPanel from './ListPanel'
  import {mapGetters} from 'vuex'
  export default {
    name: "sectores-list",
    components: {VuePerfectScrollbar,SectorCard,ListPanel},
    data () {
      return {
        searchText: null
      }
    },
    methods: {
      handleSearchTextUpdated (val) {
        this.searchText = val;
      },
      handleSectorClicked (e) {
        this.$emit("sectorClicked",e)
      }
    },
    computed: {
      ...mapGetters(['sectores']),
      filteredSectores () {
        if (this.searchText) {
          const ss = this.searchText;
          return this.sectores.filter(s => {
            return s.nombre.toLowerCase().includes(ss.toLowerCase()) ||
                s.municipio.nombre.toLowerCase().includes(ss.toLowerCase())
          }).sort(sortAsc)
        } else {
          return this.sectores.sort(sortAsc);
        }
      }
    }
  }

  function sortAsc (a,b)  {
    if(a.nombre < b.nombre) return -1;
    if(a.nombre > b.nombre) return 1;
    return 0;
  }

</script>

<style scoped>
    .scroll-area {
        height: 460px;
    }
</style>