<template>
    <div class="card-container">
        <div class="sector-icon">
            <span class="icon-location4 clickable" @click="handleSectorClicked"></span>
        </div>
        <div class="data">
            <div  @click="handleSectorClicked" class="sector-nombre clickable">{{sector.nombre}}</div>
            <div class="municipio-nombre">{{sector.municipio.nombre}}</div>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['sector'],
    name: "sector-card",
    methods: {
      handleSectorClicked () {
        this.$emit('sectorClicked',this.sector)
      }
    }
  }
</script>

<style scoped lang="scss">
    .card-container {
        border-bottom: 2px solid rgb(231, 231, 231);
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        .sector-icon {
            flex-basis: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .data {
            display: flex;
            flex-direction: column;
            .sector-nombre {
                font-size: 14px;
                font-weight: 500;
            }
            .municipio-nombre {
                font-size: 12px;
            }
        }
    }
</style>