<template>
    <div class="card-container"
         @click="$emit('click')"
         :style="{'width' : width? width+'px' : '100%'}"
         :class="{'expanded': expanded}" >
        <div class="preview" :class="{'withborder': expanded}">
            <div class="unit">
                <div class="number" :class="{'clickable':clickable}" @click="unidadNumeroClicked">
                 <span class="text-semibold"> U{{unidad.id}}
                     <!--<small class="pl-5">{{unidad.modelo.marca.nombre}} {{unidad.modelo.nombre}}</small>--></span>
                </div>
                <div class="time" :class="{'redtime' : getUpdateTimeColor() }" >
                    {{getUnitLastUpdateTime().text}}
                </div>
                <div class="buttons" v-show="clickable">
                    <span @click="$emit('botonMensajeClicked',unidad)"
                          class="icon-bubbles5" style="color: #1976D2"></span>
                    <span @click="$emit('historialClicked',unidad)" class="icon-history" style="color: #1976D2"></span>
                </div>
            </div>
            <div class="details">
                <div class="item" v-if="unidad.distancia">
                    <div class="title text-muted">
                        Distancia y tiempo a incidente
                    </div>
                    <div class="content likerow">{{formatDistance(unidad.distancia)}}
                        <span v-if="unidad.tiempo">&nbsp;| {{formatTime(unidad.tiempo)}}</span>
                    </div>
                </div>
                <div class="item">
                    <div class="title text-muted">
                        Vehiculo
                        <template v-if="unidad.tipo === 1">
                            (Motocicleta)
                        </template>
                        <template v-if="unidad.tipo === 0">
                            (Auto)
                        </template>
                    </div>
                    <div class="content">{{unidad.modelo.marca.nombre}} {{unidad.modelo.nombre}}</div>
                </div>
                <div class="item">
                    <div class="title text-muted">
                        Sector Asignado
                    </div>
                    <div class="content " :class="{'clickable':clickable}"
                         @click="sectorClicked(unidad.sector)">
                        {{unidad.sector.nombre}}
                    </div>
                </div>
                <div class="item">
                    <div class="title text-muted">
                        Ubicacion Actual (Aprox.)
                    </div>
                    <div class="content" :class="{'clickable':clickable}" v-if="locationText">
                        <div :class="{'clickable':clickable && locationText !== 'No Disponible'}"
                             @click="showInMap">
                            {{locationText}}
                        </div>
                        <div class="extra"  v-show="!enZona"  @click="unidadNumeroClicked">
                            Unidad fuera de zona
                        </div>
                    </div>
                    <div class="content" v-else>
                        Obteniendo...
                    </div>
                </div>

            </div>
            <div class="clickable expand-btn" v-if="expandable" >
            <span @click="expandToggle">
            <span  v-show="!expanded" class="icon-circle-down2"></span>
            <span  v-show="expanded" class="icon-circle-up2"></span>
            </span>
            </div>
        </div>

        <div class="expandable" v-if="expanded">
            <div v-for="o in unidad.oficiales" class="oficial">
                <div class="imagen">
                    <img v-if="!o.foto" src="/image/defaultuser.png">
                    <img v-else :src="o.foto">
                </div>
                <div class="details">
                    <div class="name">
                        <span class="text-semibold no-margin">{{o.apellido}}, {{o.nombre}}</span>
                    </div>

                    <div class="rank">
                        <span class="icon-stars text-success"></span>
                        <span class="text-muted text-size-base"
                              style="font-weight: 400">{{o.rango.nombre}}</span>
                    </div>
                    <div class="rank">
                        <span class="icon-rating2 text-success"></span>
                        <span class="text-muted text-size-base"
                              style="font-weight: 400">{{o.tipo.nombre}}</span>
                    </div>
                </div>
            </div>
            <div class="phone">
                <span class="icon-phone"></span> <span class="digits">{{unidad.supervisor.flota.digitos}}</span>
            </div>
        </div>

    </div>
</template>

<script>
  import {formatTime, getLastUbicacion,
    getLatLngFromPoint, formatDistance} from './../utils/helpers'
  import {mapState} from 'vuex'
  import GeocodingService from './../services/GeocodingService'
  import pointInPolygon from '@turf/boolean-point-in-polygon'
  const service = new GeocodingService()
  import moment from 'moment'
  export default {
    props: {
      unidad: Object,
      selected: Number,
      expandable: {
        type: Boolean,
        default: true
      },
      clickable: {
        type: Boolean,
        default: true
      },
      width: {
        type: Number,
        default: null
      },
      mapCreated: Boolean
    },
    data: function () {
      return {
        expanded: false,
        locationText: null
      }
    },
    watch: {
      mapCreated (val) {
        if (val)
          this.getlocationText()
      },
      selected (selectedUnit) {
        this.expanded = selectedUnit === this.unidad.id;
      },
      'unidad.localizaciones' () {
        this.getlocationText();
      }
    },
    computed: {
      currentLocation () {
        return getLastUbicacion(this.unidad.localizaciones);
      },
      ...mapState({
        now: state => state.now
      }),
      enZona () {
        const polygon = this.unidad.sector.limites
        if (polygon) {
          const point = this.currentLocation.ubicacion;
          return pointInPolygon(point, polygon)
        }
        return true;
      }
    },
    mounted () {
      this.expanded = this.selected === this.unidad.id;
      EventBus.$on('escPressed', () => {
        this.expanded = false
      })
    },
    methods: {
      getUpdateTimeColor () {
        const res = this.getUnitLastUpdateTime()
        return res.unit === 'hour' || res.amount > 15
      },
      getUnitLastUpdateTime () {
        const diff = moment.duration(this.now.diff(moment(this.unidad.last_update_time)));
        if (diff.asMinutes()  < 1) {
          return {
            text: 'Sincr.',
            amount: 0,
            unit: 'minute'
          }
        } else if ( diff.asMinutes() < 160 ) {
          return {
            text: diff.asMinutes().toFixed(0) + " min.",
            amount: diff.asMinutes().toFixed(0),
            unit: 'minute'
          }
        } else {
          return {
            text:  diff.asHours().toFixed(0) + " hrs.",
            amount: diff.asMinutes().toFixed(0),
            unit: 'hour'
          }

        }
      },
      formatTime: formatTime,
      formatDistance: formatDistance,
      getlocationText() {
        const point = getLatLngFromPoint(this.currentLocation.ubicacion)
        service.getLocationText(point,this.currentLocation.id).then(res => {
          if (!res) {
            this.locationText = "No Disponible"
          } else {
            this.locationText = res
          }
        })
      },
      expandToggle () {
        this.expanded = !this.expanded
        this.$emit('unidadExpandClicked', this.unidad, this.expanded)
      },
      showInMap () {
        if(this.clickable)
          this.$emit('ubicacionClicked', this.unidad)
      },
      sectorClicked (sector) {
        if(this.clickable)
          this.$emit('sectorClicked', this.unidad, sector)
      },
      unidadNumeroClicked () {
        if(this.clickable)
          this.$emit('numeroClicked', this.unidad)
      },
    },
    mounted() {
      this.getlocationText()
      if (!this.expandable) {
        this.expanded = true;
      }
    }
  }
</script>
<style scoped>
    @keyframes glow {
        from {
            color: #bf242a;
        }
        to {
            color: #ff2f38;
        }
    }
    .redtime {
        font-weight: 600;
        color: #bf242a;
        animation: glow .75s infinite alternate;
    }
    .card-container small.time {
        vertical-align: middle;
        font-size: 12px;
    }

    .card-container {
        border-bottom: 2px solid rgb(231, 231, 231);
        padding: 5px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        padding-right: 10px;
    }

    .card-container:not(:first-child) {

        padding-top: 5px;

    }

    .card-container.expanded {
        border-bottom: 2px solid #1E88E5;
    }

    .card-container .preview {
        display: flex;
        position: relative;
    }
    .card-container .preview.withborder {
        border-bottom: 1px dashed #d6d6d6;
    }

    .card-container .expandable {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .card-container .expandable > .phone {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
    }
    .card-container .expandable > .phone .digits {
        padding-left: 5px;
    }

    .card-container .expandable > .oficial {
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .card-container .expandable > .oficial:not(:last-child) {
        border-bottom: 1px dotted #d6d6d6;
    }
    .card-container .expandable > .oficial > .imagen {
        flex-basis: 50px;
        justify-content: center;
        align-items: center;
    }

    .card-container .expandable > .oficial > .details {
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

    .card-container > .preview > .unit {
        flex-basis: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-container > .preview > .unit > .number{
        font-size: 16px;
        font-weight: 600;
    }
    .card-container > .preview > .unit > .time {
        font-size: 11px;
        text-align: center;
    }
    .card-container > .preview > .unit > .buttons {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .card-container > .preview > .unit > .buttons > span {
        cursor: pointer;
        margin-top: 10px;
    }

    .card-container > .preview > .unit > .buttons > span:hover {
        opacity: .8;
    }

    .card-container > .preview > .details {
        display: flex;
        flex-grow: 1;
        padding-left: 10px;
        padding-right: 20px;
        flex-direction: column;
    }

    .card-container > .preview > .details > .item {
        display: flex;
        flex-direction: column;
        margin-top: 2px;
    }

    .card-container > .preview > .details > .item:not(:last-child) {
        border-bottom: 1px dotted #d6d6d6;
        margin-bottom: 5px;
    }
    .card-container > .preview > .details > .item > .title {
        font-size: 11px;
        line-height: .8;
    }

    .card-container > .preview > .details > .item > .content {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
    .card-container > .preview > .details > .item > .content.likerow {
        flex-direction: row;
    }
    .card-container > .preview > .details > .item > .content > .extra {
        font-size: 10px;
        color: #bf242a;
    }
    .card-container > .preview > .details > .item > .content > .extra:hover {
        font-size: 10px;
        color: red;
    }
    .card-container .imagen {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .card-container img {
        width: 42px;
        height: 42px;
        margin-right: 5px;
        border-radius: 50%;
    }
</style>