<template>
    <list-panel :title="'Unidades'"
                @searchText="handleSearchTextUpdated"
                :searchTextValue="searchText"
                :height="580">
        <template slot="subTitle">
            <template v-if="filteredUnidades && !currentlySelectedUnit">
                     <span style="font-size: 12px"
                     > | {{filteredUnidades.length}} Activas</span>
            </template>
            <template  v-if="currentlySelectedUnit">
                     <span style="font-size: 12px"
                     > | Viendo unidad #{{currentlySelectedUnit}}</span>
                <br>
                <span @click="showAllUnits" style="cursor: pointer; font-size:12px">Mostrar todas</span>
            </template>
        </template>
        <template slot="searchSubText">
            <div class="mt-5" v-if="filteredUnidades">
                <span class="text-white">Resultados de busqueda: ({{filteredUnidades.length }})</span>
            </div>
        </template>


        <VuePerfectScrollbar class="scroll-area" :settings="{maxScrollbarLength: 60}" slot="body">
            <unidad-card
                    v-if="filteredUnidades !== null"
                    v-for="unidad in filteredUnidades"
                    :key="unidad.id"
                    :ref="'unidadCard-'+unidad.id"
                    :unidad="unidad"
                    :selected="currentlySelectedUnit"
                    @sectorClicked="handleCardSectorClicked"
                    @ubicacionClicked="handleCardUbicacionClicked"
                    @numeroClicked="handleCardNumeroClicked"
                    @historialClicked="handleHistorialClicked"
                    @botonMensajeClicked="handleMensajeClicked"
                    :mapCreated="mapCreated"
            ></unidad-card>
            <div v-if="filteredUnidades == null" style="padding: 15px">
                <small>No hay unidades cargadas</small>
            </div>
        </VuePerfectScrollbar>
    </list-panel>
</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import UnidadCard from './UnidadCard'
  import ListPanel from './ListPanel'
  import {mapGetters,mapState,mapActions} from 'vuex'

  export default {
    components: {
      VuePerfectScrollbar,ListPanel,
      UnidadCard
    },
    props: ['mapCreated'],
    data () {
      return {
        searchText : null,
        currentlySelectedUnit: null,
      }
    },
    computed : {
      ...mapGetters([
        'unidades'
      ]),
      ...mapState([
        'unidadesFuera'
      ]),
      filteredUnidades () {
        if (this.searchText) {
          return this.unidades.filter(unidad => {
            let found = false;
            const ssearch = this.searchText.toLowerCase()
            for (let oficial of unidad.oficiales) {
              if (oficial.nombre.toLowerCase().includes(ssearch) ||
                  oficial.apellido.toLowerCase().includes(ssearch)
              ) {
                found = true;
                break;
              }
            }
            return found ||
                unidad.sector.nombre.toLowerCase().includes(ssearch) ||
                unidad.modelo.nombre.toLowerCase().includes(ssearch) ||
                unidad.modelo.marca.nombre.toLowerCase().includes(ssearch) ||
                unidad.id == ssearch
          })
        }

        if (this.currentlySelectedUnit) {
          return this.unidades.filter(u => u.id === this.currentlySelectedUnit)
        }

        return this.unidades;
      },
    },
    watch: {
      searching (val) {
        if (val === false){
          this.searchText = null;
        }
      },
    },
    methods: {
      ...mapActions([
        'fetchUnidadesFuera'
      ]),
      handleSearchTextUpdated (val) {
        this.searchText = val;
      },
      showAllUnits () {
        this.currentlySelectedUnit = null
      },
      filterSingleUnit (unidad) {
          this.currentlySelectedUnit = unidad.id;
      },
      handleCardSectorClicked (unidad, sector) {
        this.$emit('cardSectorClicked',unidad,sector)
      },
      handleHistorialClicked (unidad) {
        this.$emit('cardHistorialClicked',unidad)
      },
      handleMensajeClicked (unidad) {
        const oficial = unidad.oficiales.find(o => {
          return o.tipo.id === 2
        })

        if (oficial) {
          this.$router.push({name:'chat', params: {chatId: oficial.id}})
        }
      },
      handleCardNumeroClicked (unidad,) {
        this.$emit('cardNumeroClicked',unidad)
      },
      handleCardUbicacionClicked (unidad) {
        this.$emit('cardUbicacionClicked',unidad)
      },
    }
  }
</script>

<style type="text/css">
    .scroll-area {
        height: 500px;
        -webkit-mask-image: -webkit-gradient(linear, left 95%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }
    .patrulla-list {
        height: 550px;
    }
</style>