.loading-overlay {
    position: absolute; left: 0; top: 0; width: 100%; z-index:10;
    height: 100%;padding-top: 250px; background-color: rgba(255, 255, 255, 0.3);
}

.floating-chat-btn {
    position: fixed;
    z-index: 100;
    bottom: -4px;
    right: 20px;

}
.swal2-popup {
    font-size: 1.6rem !important;
}

.mensajes-bubble {
    position: absolute;
    top: -15px;
    right: -10px;
}
.mensajes-bubble span {
    padding: 2px 10px;
    font-size: 15px;
}

.floating-chat-btn .btn {
    background-color : #1976D2;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #1a90fa;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 0px 9px 1px rgba(133,133,133,1);
}
.incidencia-panel > .panel-heading{
    border-color: #1976D2;
    padding-bottom: 15px;
    padding-top: 15px;background-color: #1976D2;
    color:white;
}
.incidencia-panel > .panel-heading > .titulo{
   font-size: 15px;
}

.panel-body.wrapper {
    padding-left: 10px;padding-right: 10px;
    padding-top: 10px;
}

.clickable {
 color: #1E88E5;
    cursor: pointer;
}
.clickable:hover {
 color: #1d73ca;
}

.expand-btn {
    float: right;
    position: absolute;
    right: 5px;
}

#bottom-right-wrapper {
    right: 0 !important;
    bottom: 5px !important;
}
.fab.pointer {
    padding: 22px !important;
    box-shadow: 0px 10px 19px -12px rgba(0,0,0,0.75) !important;
}
.fab.pointer .md-36 {
    font-size: 22px !important;
}
.fab-list li {
    font-size: 8px !important;

}
.fab-list li .md-24{
    font-size: 20px !important;

}

